@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply scrollbar-hide;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */

    margin-bottom: 30px;
    transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  .drop_item {
    @apply grid grid-cols-1 grid-rows-1;
  }
  .drop_item > * {
    grid-column: 1/1;
    grid-row: 1/1;
    pointer-events: none;
  }
  .header_grid {
    @apply grid;
    grid-template-areas:
      "logo input input"
      "button button button";
  }
  .btn {
    grid-area: button;
  }
  .search {
    grid-area: input;
  }
  .logo {
    grid-area: logo;
  }
}
